﻿.nav-with-buttons a {
    display: inline-block !important;
}

.nav-with-buttons a:hover {
    background: transparent !important;
    text-decoration: underline !important;
}

.nav-with-buttons .btn {
    margin-top: 3px;
    margin-left: 3px;
}

.scripts-map {
    margin-top: 30px;

    display: table;
    table-layout: fixed;

    width: 100%;

    border-spacing: 5px 5px;    
    border-collapse: collapse;
}

.scripts-map .instance-column {
    display: table-cell;
    border: 1px solid black;
    border-radius: 5px;
}

.scripts-map .instance-column h2 {
    font-size: 18px;
    margin-top: 6px;
    margin-left: 6px;
}

.scripts-map .instance-column .script {
    border: 1px solid gray;
    border-radius: 5px;
    opacity: 0.5;
    color: gray;
    padding: 5px;
    margin: 2px;
}

.scripts-map .instance-column .script.active {
    border-color: #00ff21;
    background: green;
    opacity: 1;
    color: white;
}

.console {
    white-space: pre;
}