﻿
@{
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>Add Script</h1>
</section>

<section class="content">
    <form data-bind="submit: submit">
        <div class="form-group">
            <label>Description</label>
            <input type="text" data-bind="value: Model().Notes" class="form-control" />
        </div>

        <div class="form-group">
            <label>Script</label>
            <textarea data-bind="value: Model().Script" class="form-control" rows="10"></textarea>
        </div>

        <div class="form-group">
            <label>Include in these instances</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: IncludeAllInstances" /> <b>All</b>
                </label>
            </div>
            <!-- ko foreach: Product().Instances -->
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: IncludedInChangeScript, disable: $parent.IncludeAllInstances" /> <span data-bind="text: Name"></span>
                </label>
            </div>
            <!-- /ko -->
        </div>

        <input type="submit" class="btn btn-success" value="Create" />
    </form>
</section>