﻿
@{
    ViewBag.Title = "All";
    Layout = null;
}

<section class="content-header">
    <h1>Products</h1>

    <div class="pull-right">
        <a href="#/products/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</a>
    </div>

    <div class="clearfix"></div>
</section>

<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <ul class="nav nav-pills nav-stacked nav-with-buttons" data-bind="foreach: Products">
                <li>
                    <a href="#" data-bind="text: Name, attr: { href: '#/products/' + Id() }">

                    </a>

                    <button data-bind="navigate: { url: '#/products/{id}/script', id: Id }" class="btn btn-success pull-right">Add Script</button>
                    <button data-bind="navigate: { url: '#/products/{id}', id: Id }" class="btn btn-primary pull-right">Detail</button>
                </li>
            </ul>
        </div>
    </div>
</section>