﻿
@{
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>Create Instance</h1>
</section>

<section class="content">
    <form data-bind="submit: submit">
        <div class="form-group">
            <label>Name</label>
            <input type="text" data-bind="value: Model().Name" class="form-control" />
        </div>

        <div class="form-group">
            <label>SQL Server Name</label>
            <input type="text" data-bind="value: Model().Server" class="form-control" />
        </div>

        <div class="form-group">
            <label>Database</label>
            <input type="text" data-bind="value: Model().Database" class="form-control" />
        </div>

        <div class="form-group">
            <label>Username</label>
            <input type="text" data-bind="value: Model().Username, disable: Model().UseWinAuth" class="form-control" />
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" data-bind="value: Model().Password, disable: Model().UseWinAuth" class="form-control" />
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: Model().UseWinAuth" /> Use Windows Authentication
            </label>
        </div>

        <input type="submit" class="btn btn-success" value="Create" />
    </form>
</section>