﻿
@{
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>Create Product</h1>
</section>

<section class="content">
    <form data-bind="submit: submit">
        <div class="form-group">
            <label>Name</label>
            <input type="text" data-bind="value: Model().Name" class="form-control" />
        </div>

        <input type="submit" class="btn btn-success" value="Create" />
    </form>
</section>