﻿
@{
    ViewBag.Title = "Detail";
}

<section class="content-header">
    <h1 data-bind="text: Model().Name"></h1> <small>Product detail</small>
</section>

<section class="content">
    <button class="btn btn-success" data-bind="navigate: { url: '#/products/{id}/script', id: Model().Id, changeTrigger: Model }"><span class="glyphicon glyphicon-plus"></span> Add Script</button>
    <button class="btn btn-primary" href="#" data-bind="navigate: { url: '#/products/{id}/instance', id: Model().Id, changeTrigger: Model }"><span class="glyphicon glyphicon-plus"></span> New Instance</button>


    <div class="scripts-map">
        <!-- ko foreach: Model().Instances -->
        <div class="instance-column">
            <h2 data-bind="text: Name"></h2>
            <button class="btn btn-success" data-bind="navigate: { url: '#/instances/{id}/run', id: Id() }">Run</button>

            <!-- ko foreach: Lazy($component.Model().ChangeScripts()).sortBy(function(i) { return i.Created() }, true).toArray() -->
            <div class="info-box" 
                 data-bind="css: { 
                 'bg-green': isAppliedInInstance($parent.Id()) && getState($parent.Id()) == Enums.ScriptStates.Applied, 
                 'bg-orange': isAppliedInInstance($parent.Id()) && getState($parent.Id()) == Enums.ScriptStates.New, 
                 'bg-red': isAppliedInInstance($parent.Id()) && getState($parent.Id()) == Enums.ScriptStates.Error, 
                 }">
                <span class="info-box-icon">
                    <i class="ion" data-bind="css: { 'ion-minus-round': !isAppliedInInstance($parent.Id()), 'ion-checkmark-circled': isAppliedInInstance($parent.Id()) && getState($parent.Id()) == Enums.ScriptStates.Applied, 'ion-close-circled': getState($parent.Id()) == Enums.ScriptStates.New }"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text" data-bind="text: Notes"></span>
                    <span class="info-box-number"></span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 0%"></div>
                    </div>
                    <span class="progress-description" data-bind="text: Created"></span>
                </div>
            </div>
            <!-- /ko -->

            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
    <div class="clearfix"></div>

</section>