﻿
@{
    ViewBag.Title = "Run";
}


<section class="content-header">
    <h1>Running...</h1>
</section>

<section class="content">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" data-bind="style: { width: Progress() + '%' }">
        </div>
    </div>

    <div class="well console" data-bind="foreach: Log"><div data-bind="text: Message"></div></div>
</section>